html,
body,
header,
#intro {
    height: 100%;
}

#intro {
    background: url("http://4.bp.blogspot.com/-yhkBhCfO9KE/VqcDDU68NzI/AAAAAAAAAxM/2dQtKUS_sD0/s1600/raja-ampat-Best-Wallpaper-4wlp.com_.jpg")no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.top-nav-collapse {
    background-color: #24355C;
  }
  @media (max-width: 768px) {
    .navbar:not(.top-nav-collapse) {
      background-color: #24355C;
    }
  }
  @media (min-width: 800px) and (max-width: 850px) {
    .navbar:not(.top-nav-collapse) {
      background-color: #24355C;
    }
  }

  h2{
  font-family: nava;
  color: white;
  margin-top: 200px;
  font-size: 50px;
}